@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');


/*---------------Colors---------------*/
.bg-color-name-title{
    background-color: #676767;

}

.ui-menu-color-home{
    background-color: #e67e22;
}

.ui-menu-color-resume{
    background-color: #9b59b6;
}

.ui-menu-color-contact{
    background-color: #3498db;
}

.ui-menu-color-download{
    background-color: #525252;
}


/*---------------Special Paddings/margins/text---------------*/

h1,h2,h3,h4{
    margin:0;
}

.uppercase{
    text-transform: uppercase;
}

.general-sub{
    font-family: "Exo",sans-serif;
    color:#fafafa;
    font-weight: 300;
}
/*---------------Heading---------------*/
header{
    margin:0;
}

.heading{
    margin-left: 50px;
}

.logo {
    background-color: blue;
    background: url("../images/rosie.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 360px;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}

.name {
    font-family: "Exo",sans-serif;
    font-weight: 100;
    font-size: 46px; /* overrides h1 */
    margin-top:50px;
    color: #fff;
}

.title {
    font-family: "Roboto",sans-serif;
    font-weight: 200;
    font-size: 28px; /* overrides h1 */
    margin-top:20px;
    margin-bottom:90px;
    color: #fff;
}

.list-inline-item:not(:last-child) {
    margin: 0;
}

.menucontainer{
   font-size:0; 
}

#nav {
    margin:0;
}
#nav li{
    font-size:14px;
    padding:0;
}

.menuitem{
    height:120px; /*1 third of overall heoght */
    padding:0;
    text-align: center;
}

.menuitem a{
    width:100%;
    height:120px; /*matches the parent and takes up all the area makinh it clickable?*/
    text-decoration: none;/*remove the underline of the hyperlink*/
    color:#fff; /*white*/
}

/*target i element as a child of a element as child of menuitem class (thhe fontawsome icons)*/
.menuitem a i{
    padding-top:22px;
    display: block; /*nornally i is inline. this will force a new line and place the icon a line of its own*/
    color:#fafafa; /*offwhite*/
    font-size: 26px;
}

.menuitem span{
    display: block;
    padding-top:5px;
    width:100%;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 2px;
}


.Inline-Block{
    display: inline-block;
}

/*---------------Hover.css---------------*/

/*by default the hover class places a blue background on the element when the mouse hovers over
this can be seen via chrome developer tools on the BEFORE psudeo tag/event
to override that behaviour we set the background here to to black with opacity of .2 
which gives a gray background on hover.*/
.hvr-sweep-to-bottom:before{
    background-color: rgba(0,0,0,0.2);
    height:120px;
}


/*---------------Footer---------------*/

footer{
    background-color: #525252;
    color:#fafafa;
    min-height:120px;
}

.cv-pdf i {
    font-size: 18px;
    color: #fafafa;
    text-align: center;
    padding-left: 5px;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;

}
.cv-pdf i:hover{
    color: #E84610;
}

.social-links{
    padding-bottom: 15px;
}

.social-links li a i {
    width: 32px;
    height:32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color:#fafafa;
    background: #8f8f8f;
    transition: all .5s ease-in-out; /*note transitions are in parent element. Tranisition will take effect when mouse hovers and stops when mouse leaves*/
    -moz-transition: all .5s ease-in-out;   /*work around for browsers mozilla*/
    -webkit-transition: all .5s ease-in-out;/*work around for browsers safari apple*/
    -o-transition: all .5s ease-in-out;     /*work around for browsers opera*/
}
.social-links li a i:hover{ /*note no whitespace on pseudo element */
    background-color: #E84610;
}

#footer-details{
    padding:20px;
}   